:root {
    --primaryColor: rgb(50, 50, 50);
    --primaryColorTransparent: rgba(50, 50, 50, 0.5);
    --primaryColorPartlyTransparent: rgba(50, 50, 50, 0.95);
    
    --highlightColor: rgb(235, 235, 241);
    --tintColor: rgb(102, 187, 255);
    --highlightTintColor: rgb(0, 119, 181);
    
    --backgroundColorTransparent: rgba(0, 0, 0, 0.5);
    --backgroundColor: black;
    --foregroundColor: white;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	background-color: var(--backgroundColor);
}

@media not -webkit-device-pixel-ratio {
    nav {
        z-index: 999;
        overflow: hidden;
        background-color: var(--primaryColorPartlyTransparent);
        border-bottom:1px solid var(--primaryColor);
    }
}

@supports (-webkit-backdrop-filter: blur(25px)) {
    nav {
        z-index: 999;
        overflow: hidden;
        -webkit-backdrop-filter: blur(25px);
        backdrop-filter: blur(25px);
        background-color: var(--primaryColorTransparent);
        border-bottom:1px solid var(--primaryColor);
    }
}

.pswp {
    z-index: 999999999999999999999999999999999;
}

.nav-item {
	color: white;
}

.nav-item:hover {
	color: var(--highlightColor);
}

.nav-item:hover:before {
	color: var(--highlightColor);
}

nav a {
	z-index: 999999999999999999999;
}

a {
	color: var(--tintColor);
}

img {
	transition: transform 0.5s ease-in-out;
}

img:hover {
	transform: scale(1.1);
}

.CarouselItem img:hover {
    transform: scale(1);
}

.pswp img:hover {
    transform: scale(1);
}

.navbar {
	position: fixed;
	width: 100%;
}

.nav-item img {
	width: 24px;
}

.header {
	padding-top: 40px;
}

.btn {
    transform: scale(1);
    transition: all .5s ease-in-out;
    color: var(--tintColor);
    background-color: transparent;
    border-color: var(--tintColor);
	border-radius: 25px;
}

.btn:hover {
	transform: scale(1.1);
	background-color: var(--highlightTintColor);
	color: var(--highlightColor);
}

.btn:active {
	transform: scale(0.9);
	background-color: var(--highlightTintColor);
	color: var(--highlightColor);
}

.btn:disabled {
    background-color: var(--highlightTintColor);
}

.socialsBarButton:hover {
	transform: scale(1);
	border-color: var(--highlightColor);
	box-shadow: none;
}

.socialsBarButton {
	outline: 0;
	box-shadow: none;
	background-image: none;
	border-color: transparent;
}

.socialsBar {
    background-image: linear-gradient(var(--primaryColor), var(--primaryColor));
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 25px;
    padding-left: 25px;
}

.jumbotron {
	margin-top: 20px;
	margin-bottom: 20px;
}

#contactSection {
	margin-top: 20px;
    background-color: var(--primaryColor);
    color: var(--foregroundColor);
}

.skillsSection {
    background-color: var(--primaryColor);
    padding: 20px;
    margin-top: 20px;
    color: var(--foregroundColor);
}

.header {
	margin-bottom: 25px;
}

.header > .jumbotron {
	align-items: center;
	width: 700px;
	
	padding-top: 25px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (max-width: 700px) {
	.header .jumbotron {
		width: 100%;
	}
	
	.contactBox {
		width: 100%;
	}
	#testimonialHeader {
		margin-left: 20px;
	}
	
	#profileImage {
		width: 150px;
		border-radius: 50%;
	}
	
	#headingTitle {
		display: none;
	}
    
    .nav-link div {
        display:block !important;
    }

    .navbar {
        height: 75px;
    }
}

@media only screen and (min-width: 700px) {
    .navbar {
        height: 45px;
    }
    
    .nav-link div {
        display:inline !important;
    }
    
	.contactBox {
		margin-left: auto;
		margin-right: auto;
		width:700px;
	}
	
	#skillsText {
		margin-left: auto;
		margin-right: auto;
		width:700px;
	}
	
	#testimonialHeader {
		text-align: center;
	}
	
	#profileImage {
		width: 200px;
		border-radius: 50%;
	}
	
	#headingTitleMobile {
		display: none;
	}
}

.header .jumbotron img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.page-header {
	text-align: center;
}

.header .jumbotron p {
	text-align: center;
}

html, body{
	min-width:100%;
}

footer {
	text-align:center;
	background-image: linear-gradient(var(--primaryColor),  var(--primaryColor));
	border-top: 1px solid #ccc;
	padding-top: 5px;
	color: var(--foregroundColor);
	bottom: 0;
}

footer div ul {
	display: table;
	width: 100%;
	list-style: none;
}
footer div ul li {
	display: table-cell;
	text-align: center;
}
footer div ul li a {
	display: block;
}

.testimonialCarousel {
	height:auto;
	min-height: 1px;
	display:block;
}

.imageCarousel {
    color: var(--foregroundColor);
}

.CarouselItem {
    color: var(--foregroundColor);
    transform: scale(1);
    transition: all .5s ease-in-out;
	background-color: var(--primaryColor);
	border-style: solid;
	border-width: 1px;
	border-color: var(--primaryColor);
	padding: 25px;
	margin: 25px;
	border-radius: 20px;
}

.CarouselItem:hover {
    transform: scale(1.05);
}

.input-group-lg {
	margin-top: 20px;
	margin-bottom: 20px;
}

.active {
	color: var(--highlightColor);
}

.jumbotron {
	background-color: var(--backgroundColor);
    color: var(--foregroundColor);
}

.list-group-item {
	display: table-cell;
	background-color: red;
	list-style-type: none;
	display: block;
	height:100%;
}

.testimonialsSection {
	margin-bottom: 0;
	padding-top: 20px;
	padding-bottom: 0;
    color: var(--foregroundColor);
}

.skillImageBox > img {
	padding: 5px;
}

.slick-active .slick-dot {
    content:url(icons/dot-filled.png);
}

.pswp__top-bar {
    background-image:linear-gradient(var(--primaryColor), var(--primaryColor));
	opacity: 0.9;
}

.box_full {
    height:auto;
    width: 640px;
    z-index:9999999999999999999999999999999999999999;
    top: 50px;
    left: 0;
    overflow:auto;
    bottom:50px;
    right:0;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    display:block;
    margin-top: auto;
    margin-bottom: auto;
    
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.7s;
    animation-name: slideIn;
    animation-duration: 0.7s
}

@media only screen and (max-width: 700px) {
    .box_full {
        width: 90%;
        
    }
}

.CarouselItem:hover {
    transform: scale(1.05);
}

@-webkit-keyframes slideIn {
    from {transform: scale(0.1); opacity: 0}
    to {transform: scale(1.0); opacity: 1}
}

@keyframes slideIn {
    from {transform: scale(0.2); opacity: 0}
    to {transform: scale(1.0); opacity: 1}
}

.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background: inherit;
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.7s;
    overflow: hidden;
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    background-color: var(--backgroundColorTransparent);

}

 .CarouselItem p {
    height:75px;
    overflow : hidden;
    margin: 0;
}

.CarouselItem .notOnAppStore {
    height:125px;
}

.box_full p {
    height:auto;
}

.showMore {
    text-align:center;
    display:block;
}

.box_full .showMore {
    display: none;
}

.pswp__bg {
    background: var(--backgroundColorTransparent)!important;
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
}

.closeBox {
    text-align: center;
    background-color: var(--foregroundColor);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: fixed;
    overflow: hidden;
    top: 20px;
    right: 20px;
    float: right;
    display: none;
    background-image: none;
    border: none;
}
.closeBox img {
    width: 25px;
}

.closeBox:hover {
    background-color: lightgray !important;
}

.closeBox:active, .closeBox:focus {
    background-color: lightgray !important;
}

.closeBox:active:focus {
    background-color: lightgray !important;
    border-color: lightgray !important;
}

.appStoreImage {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#appsView {
    color: var(--foregroundColor);
}

.hireButton {
    top: 100px;
    x-transition: all 2s ease-in-out;
    animation: downMove 2s infinite;
}

@keyframes downMove {
    0% {
        transform: translate(0, 0);
    }
    
    50% {
        transform: translate(0, 10px);
    }
    
    100% {
        transform: translate(0, 0);
    }
}
